{% extends "base.html" %}

{% block content %}
<title>Смена пароля</title>
<h1>Смена пароля</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.old_password.label }}<br>
        {{ form.old_password(class="form-control", type="password") }}<br>
        {% for error in form.old_password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    <p>
        {{ form.repeat_password.label }}<br>
        {{ form.repeat_password(class="form-control", type="password") }}<br>
        {% for error in form.repeat_password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}